@import "tailwindcss";


@font-face {
  font-family: 'Michroma';
  src: url('/fonts/Michroma-Regular.woff2') format('woff2');
  
}
@font-face {
  font-family: fa;
  src: url('/fonts/Mj_DigitalArabiaLT.woff2') format('woff2');
}
@font-face {
  font-family: fa1;
  src: url('/fonts/Zain-ExtraLight.woff2') format('woff2');

}
@font-face {
  font-family: fa2;
  src: url('/fonts/Lateef-Regular.woff2') format('woff2');
}
@font-face {
  font-family: fa3;
  src: url('/fonts/CascadiaCode-Regular.woff2') format('woff2');
}
@font-face {
  font-family: fa4;
  src: url('/fonts/IBMPlexSansArabic-Bold.woff2') format('woff2');
}
@font-face {
  font-family: fa5;
  src: url('/fonts/BYekan.woff2') format('woff2');
}
@font-face {
  font-family: fa6;
  src: url('/fonts/Shabnam-Medium.woff2') format('woff2');
}
@font-face {
  font-family: fa7;
  src: url('/fonts/Peyda-SemiBold.woff2') format('woff2');
}
@font-face {
  font-family: fa8;
  src: url('/fonts/Peyda-ExtraBold.woff2') format('woff2');
}

@font-face {
  font-family: fa9;
  src:url('/fonts/BTraffic.woff2') format('woff2');
}

@font-face {
  font-family: fa10;
  src:url('/fonts/IRANSansXFaNum-Black.woff2') format('woff2');
}

@font-face {
  font-family: fa11;
  src:url('/fonts/IRANSansXFaNum-Light.woff2') format('woff2');
}

@font-face {
  font-family: fa12;
  src:url('/fonts/IRANSansXFaNum-Regular.woff2') format('woff2');
}

@custom-variant dark (&:where(.dark, .dark *));


/* Hide scrollbar but still scrollable */
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE 10+ */
  scrollbar-width: none;     /* Firefox */
}

/* Optional: scrollbar appears on hover */
.scrollbar-auto-hide::-webkit-scrollbar {
  width: 6px;
  transition: opacity 0.3s;
  opacity: 0;
}
.scrollbar-auto-hide:hover::-webkit-scrollbar {
  opacity: 1;
}
.scrollbar-auto-hide::-webkit-scrollbar-thumb {
  background-color: rgba(255,255,255,0.3);
  border-radius: 3px;
}
